.input {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 20px;
  width: 100%;
  background: var(--light-gray);
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--primery);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid var(--white);
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
