@import "tailwindcss";

:root {
  --background: #f3f1f2;
  --foreground: #171717;
  --black: #161313;
  --gray: #3b3939;
  --light-gray: #f3f1f2;
  --primery: #e0b8ff;
  --primery-light: #f5e7ff;
  --white: #ffffff;
  --green: #41d4a8;
  --red: #ff4b4a;
  --text-scale: 1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --black: var(--black);
  --gray: var(--gray);
  --light-gray: var(--light-grey);
  --primery: var(--primery);
  --primery-light: var(--primery-light);
  --white: var(--white);
  --red: var(--red);
  --green: var(--color-green-400);
  --text-scale: var(--text-scale);
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --background: #0a0a0a;
    --foreground: #ededed; */
/* }
} */

body {
  background-color: var(--background);
  font-family: var(--font-dm-sans), Helvetica;
  /* min-height: 97vh; */
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--background) inset !important;
}

input[type="color"]::-webkit-color-swatch,
input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  border: 3px solid #fff;
}
